/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, ul, li, ol, p, em, img {
    font-family: 'Raleway-Light';
}

 /* default mobile view styles */

html {
    font-size: 14px;
}

body {
    color: #2d2d2d;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: "PlayfairDisplay";
    font-weight: normal;
    font-style: italic;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    line-height: 1;
} 

a:hover {
    color: #b64036;
}

* {
    box-sizing: border-box;
    outline: none;
}

/* content padding styles  */

.content-padding--top-bottom {
     padding-top: 4rem;
     padding-bottom: 4rem; 
}

.content-padding--left-right {
     padding-left: 2%; 
     padding-right: 2%;
}

/* container styles */

.container {
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-container--center-all {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.flex-container--fixed {
    top: 0;
    background-color: white;
    position: sticky;
    z-index: 9999;
}

.flex-container--no-wrap {
    flex-wrap: nowrap;
}

.flex-wrapper--space-between {
    justify-content: space-between;
}

/* flex content wrappers */

.flex-content-wrapper {
    display: flex;
    max-width: 600px;
    flex-direction: column;
}

/* header styles */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 14px 2% 7px 2%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.logo {
    flex: 0 1 50%;
    order: 0;
}

.logo--text-left {
    text-align: left;
}

.logo img {
    max-width: 120px;
}

.item-counter {
    width: 16px;
    height: 16px;
    background-color: #e2574c;
    border-radius: 25px;
    position: absolute;
    display: none;
}

.item-counter p {
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.cart-container {
    display: flex;
    justify-content: flex-end; 
}

.cart {
    order: 3;
    flex: 0 1 50%;
    position: relative;
}
    
.cart--text-right {
    text-align: right;
}

.cart img {
    width: 48px;
    height: 48px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    order: 3;
    
}

nav a, .product-name {
    color: #e2574c;
}

nav a {
    font-size: 100%;
    font-family: "Raleway-Light";
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    padding: 0.5rem 0 0 0; 
    border-top: 1px solid #d7d7d7;
    width: 100%; 
    justify-content: center;
}

nav li {
    margin: 0 14px;
}

 /* banner styles */

.banner {
    background: 
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url('../images/banner-girl.png') no-repeat center,
    url('../images/flower-bkgd.jpg') no-repeat center;
    background-size: cover, contain, cover;
    height: 400px;
    width: 100vw;
    color: white;
    text-shadow: 2px 2px 4px hsla(0,0%,40%,.8);
     line-height: 1; 
}

.banner .collection {
    font-family: "Raleway-Light";
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;;
    text-transform: uppercase;
    font-weight: bold;
}

.banner .season {
    font-family: "PlayfairDisplay";
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: none;
}

 /* featured highlight styles  */

.featured-highlight {
    font-size: 1.15rem; 
}

.featured-highlight span, .popular-products span, .newsletter span  {
    font-family: "PlayfairDisplay";
    font-weight: bold;
    font-style: normal;
}

 /* category styles */

.categories a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
} 

.categories a:hover {
    color: #b64036;
} 

.product-categories {
    display: flex;
    flex-wrap: wrap;
}

.category-wide {
    flex-basis: 100%;
    padding-bottom: 50%;   
    position: relative;
    max-width: 100%;
}

.category-square {
    padding-bottom: 50%;  
    position: relative;
    flex-basis: 50%;
    max-width: 100%;
}

 .category-wide.category-border {
    border-top: 4px white solid;
    border-bottom: 4px white solid;
}

.category-square.category-border:nth-child(2), 
.category-square.category-border:nth-child(4) {
    border: 4px white solid;
    border-left: none;
}

.category-square.category-border:nth-child(3), 
.category-square.category-border:nth-child(5) {
    border: 4px white solid;
    border-right: none;
}

.category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.cat-pos-1 {
    background: 
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
    url(../images/mens-category.jpg) no-repeat 50%;
    background-size: cover, cover;
}

.cat-pos-2 {
    background:
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
    url("../images/womens-category.jpg") no-repeat 50%;
    background-size: cover, cover;
}

.cat-pos-3 {
    background: 
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
    url(../images/trends-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.cat-pos-4 {
    background: 
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/glasses-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.cat-pos-5 {
    background: 
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/sale-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.cat-pos-6 {
    background: 
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/bags-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}  /* EOF category styles */


 /* popular product styles  */

.popular-products {
     padding: 4rem 0; 
}

.popular-products p {
    color: #969696;
    font-weight: bold;
}

.popular-products p.product {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

.popular-products h3 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-style: normal;
} 

.popular-products .add-to-cart {
    color: white;
    border-radius: 25px;
    background-color: black;
    border: none;
    cursor: pointer;
}

 /* carousel styles  */

.main-carousel {
    text-align: center;
    width: 100%;
}

.carousel-cell {
    width: 100%;
    padding: 3rem 2rem; 
}

 /* newsletter styles */

.newsletter {
    background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)),url(../images/wave-bkgd.jpg) no-repeat bottom;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 4rem 0;  
    width: 100%;
    line-height: 2;
    font-size: 1.2rem;
}

.newsletter h2 {
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.sign-up-form {
    margin: 2rem auto 0; 
    display: block;
    width: 90%;
    position: relative;
}

input[type=email] {
    padding: 0.50rem 1.75rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 25px;
    width: 100%;
    font-size: 1rem;
    line-height: 2;
    font-family: "Raleway-Light";
}

input[type=submit] {
    border-radius: 25px;
    background-color: #e2574c;
    cursor: pointer;
    font-weight: bold; 
    padding: 0.25rem 1.50rem;
    right: 0.25rem;
    top: 0.25rem;
    border: 0;
    position: absolute;
    font-size: 1rem;
    line-height: 2;
    color: white;
    font-family: "Raleway-Light";
}

/* footer stuff */

footer {
    background-color: #242424;
    color: white;
    width: 100%;
    text-align: center;
    padding: 4rem 0; 
}

footer i {
    min-width: 25px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.social-media-footer {
    margin-top: 2rem;    
}

.footer-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5; 
}

.footer-about-us div:first-child,
.footer-about-us div:nth-child(2) {
    margin-bottom: 18px;
}

.footer-about-us div:last-child {
    margin-bottom: 0;
}

.footer-about-us p {
    font-family: "PlayfairDisplay";
    font-weight: normal;
    font-style: normal;
}

.social-media-footer ul {
    display: inline-flex;
}

.footer-email {
    text-decoration: underline;
}

.location {
    color: #969696;
}

.hide-text {
    display: none;
}

 /* tablet styles  */
@media only screen and (min-width: 600px) {

    html {
     font-size: 16px; 
    }

     /* header styles */

    header {
        flex-wrap: nowrap;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    
     /* nav styles  */

    nav {
        order: 1;
    }

    nav ul {
        border: none;
        margin: 0;
        padding: 0;
    }

     /* cart styles */
     .item-counter {
        text-align: center;
     }

     /* featured highlight styles */

     .featured-highlight .container{
        max-width: 720px;
     }

     /* category styles */

    .category-wide {
        flex-basis: 50%;
        padding-bottom: 0;
    }

    .category-square {
        flex-basis: 25%;
        padding-bottom: 25%;
    }

    .category-name {
        font-size: 1.8rem;
    }

    .category-wide.category-border:first-child,
    .category-square.category-border:nth-child(5) {
        border-right: 4px white solid;
    }

     .category-square.category-border:nth-child(2),
     .category-wide.category-border:last-child {
        border-left: 4px white solid;
    } 

     /* carousel styles  */

    .main-carousel {
        max-width: 100%;
    }

    .carousel.flex-content-wrapper {
        max-width: 100%;
    }

    .carousel-cell {
        width: 50%;
    }

    .carousel-cell img {
        max-width: 100%;
    }

     /* newsletter styles */
    .sign-up-form input[type=email] {
        width: 75%;
    }

    .sign-up-form input[type=submit] {
        left: 67%;
    }

     /* footer styles */

    footer {
        background-color: #242424;
        color: white;
        justify-content: space-between;
    }

    .flex-content-wrapper {
        flex-flow: row wrap;
        justify-content: space-between; 
        max-width: 720px;
    }

    .popular-products .flex-content-wrapper {
        display: block;
        margin: 0;
    }

    footer .flex-content-wrapper {
        max-width: 100%;
    }

    .footer-about-us {
        align-items: left;
        text-align: left;
        justify-content: space-between;
    } 

    .social-media-footer {
        align-self: right;
        margin: 0 2rem;
    }

    .social-media-footer ul {
        display: flex;
        flex-direction: column;   
        align-items: flex-start;
    }

    .social-media-footer li {
        min-width: 25px;
    }
    
    .social-media-footer i {
        margin-right: 10px;
    }

    .hide-text {
        display: inline;
    }

}

@media only screen and (min-width: 1240px) {
    footer {
        width: 100%;
        margin: 0 auto;
    }

    footer .flex-content-wrapper {
        max-width: 1240px;
        width: 100%;
        justify-content: space-between;
    }

    .footer-content {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }


    header {
        max-width: 1240px;
    }

    .banner {
        height: 550px;
    }

    .carousel.flex-content-wrapper {
        max-width: 1240px; 
        margin: 0 auto;
    }

    .carousel-cell {
        width: 25%;
    }

    .main-carousel {
        max-width: 1240px;
    }

    .featured-highlight .content-padding--top-bottom.content-padding--left-right {
        margin: 0 4rem;
        width: 720px;
    }

     .newsletter .flex-content-wrapper {
        max-width: 720px;
     }

     .sign-up-form input[type=email] {
        width: 75%;
        position: aboslute;
     }
}
/* 
body * {
    border: 1px solid red;
} */